<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-body">
                <form name="PessoaForm" gumga-form novalidate>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="nome"
                        gumga-error
                        ng-model="pessoa.data.nome"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="pessoa.nome">nome</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="idade"
                        gumga-error
                        ng-model="pessoa.data.idade"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="pessoa.idade">idade</label>
            </gmd-input>
        </div>
    </div>
</div>
                    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
                    <gumga-form-buttons
                            class="gmd raised"
                            back="pessoa.list"
                            submit="pessoa.methods.put(pessoa.data)"
                            position="right"
                            should-continue="shouldContinue"
                            valid="PessoaForm.$valid"
                            confirm-dirty="true"
                            continue="continue">
                    </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>