<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <div class="row">

            <div class="col-sm-7 col-sm-offset-5">
                <gumga-query class="gmd"
                             use-gquery="true"
                             search="pessoa.methods.searchWithGQuery(field,param)"
                             advanced-search="pessoa.methods.searchWithGQuery(param)"
                             saved-filters="pessoa.methods.getQuery(page)">
                    <search-field label="nome"
                                  field="nome"></search-field>
                    <search-field label="idade"
                                  field="idade"></search-field>
                    <advanced-search-field type="string" label="nome"
                                           field="nome"></advanced-search-field>
                    <advanced-search-field type="number" label="idade"
                                           field="idade"></advanced-search-field>
                </gumga-query>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <gumga-list sort="pessoa.methods.sort(field, dir)"
                            class="table-hover table-condensed"
                            data="pessoa.data"
                            page-align="flex-end"
                            page-position="bottom"
                            configuration="tableConfig"
                            page-model="page"
                            page-size="pessoa.pageSize"
                            count="pessoa.count"
                            on-page-change="pessoa.methods.searchWithGQuery(pessoa.lastGQuery, page)">
                </gumga-list>
            </div>
        </div>

    </div>
</div>

<gmd-fab force-click="false" fixed opened="selectedValues.length > 0">
    <button ng-if="selectedValues.length == 0" class="btn-primary gmd-ripple" ui-sref="pessoa.insert">
        <span class="material-icons">add</span>
    </button>
    <button ng-if="selectedValues.length > 0" class="btn-warning gmd-ripple">
        <span class="material-icons">view_headline</span>
    </button>
    <ul ng-class="{'disabled-fab': selectedValues.length <= 0}">
        <li class="btn-danger" ng-click="pessoa.methods.delete(selectedValues)">
            <span class="visible">Remover</span>
            <i class="material-icons gmd-ripple">delete</i>
        </li>
    </ul>
</gmd-fab>